<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNearbyInteractionUsageDescription</key>
	<string>近くの iPhone との距離と方向を測って宝探しゲームを行うために使用します。</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>近くの iPhone を見つけてペアリングするためにローカルネットワークを使用します。</string>
	<key>NSCameraUsageDescription</key>
	<string>方向表示の精度を上げるためにカメラを使用します。映像が保存・送信されることはありません。</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSBonjourServices</key>
	<array>
		<string>_nearbyfinder._tcp</string>
		<string>_nearbyfinder._udp</string>
	</array>
</dict>
</plist>
